.filters-container {
    min-width: 280px;
    width: 280px;
    position: sticky;
    top: 10px;
    padding: 12px 12px 12px 12px;
    height: calc(100vh - 42px);

    background-color: #1e2124;
    color: white;

    border-radius: 5px;
    user-select: none;
    font-weight: bold;

    h3 {
        padding-bottom: 5px;
        text-align: center;
    }
}

#filter-by>* {
    border-bottom: 1px solid #7289da50;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    border-radius: 3px;
}


/*  Range Sliders  */
.range-slider-assembly {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.slider-container {
    position: relative;
    display: grid;
    width: 100%;
    top: 5px;
    align-items: center;

    * {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
}

#slider-container-s-rating,
#slider-container-d-rating {
    width: 40%;
}

#range-slider-assembly-b {
    margin-top: 10px;
}

#toggle-s-slider,
#toggle-d-slider {
    border-radius: 5px 5px 0px 0px;
    border-bottom: black 1px solid;
}

#toggle-s-slider-rating,
#toggle-d-slider-rating {
    border-radius: 0 0 5px 5px;
    width: 30px;
}

/* Slider Buttons */
.toggle-slider {
    flex: 0 0 35px;
    height: 35px;
}

#toggle-mix {
    margin: 5px 0 5px 0;
    background: #1e2124;
    color: #7289da;
    z-index: 9;
    cursor: pointer;
    height: 20px;
    width: 100%;

    font-size: 10pt;
    font-style: italic;

    transition: background 0.1s ease, font-size 0.1s ease-in-out;
}

#toggle-mix:hover {
    background: #36393e;
    font-size: 12pt;
}

/* !Avoid changing These! */
.slider-full {
    position: relative;
    height: 5px;
    border-radius: 5px;
    background: #36393e;
}

.slider-progress {
    left: 0%;
    right: 0%;
    position: absolute;
    height: 5px;
    border-radius: 5px;
    background: #7289da;
}

input.r1,
input.r2 {
    position: relative;
    background: none;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-radius: 25%;
    background: #7289da;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;

    border-radius: 25%;
    background: #7289da;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

input[type="range"]:hover::-webkit-slider-thumb {
    background: #4c5c96;
}

input[type="range"]:hover::-moz-range-thumb {
    background: #4c5c96;
}

.range-tip-container {
    position: relative;
}

.range-tip {
    font-size: 10pt;
    color: #7289dac4;
    position: absolute;
    top: -25px;
    text-align: center;
    width: 15px;
    height: 15px;
}

.r2-tip {
    z-index: 9;
    background-color: #1e2124;
    right: 0;
}


/* Reset Button */
#reset-btn {
    background: url(../data/ico/reset-button.svg);
    background-size: contain;
    border: none;
    position: absolute;
    left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}


#reset-btn:hover {
    transform: rotate(-200deg);
    opacity: 1;
}

/* Map Type */
#map-type-toggle,
#map-intended-toggle {
    display: flex;
    gap: 5px;

    * {
        flex: 1;
    }

    p {
        padding-right: 10px;
    }
}


#map-type-toggle {
    border: none;
    padding-bottom: 0;
}

/* Class Tech */
#class-tech-s {
    margin-bottom: 10px;
}


.class-tech {
    display: flex;
    flex-direction: row;

    label {
        flex: 3;
    }

    select {
        width: 185px;
    }
}


/* Filter By Author */
#filter-by-author {
    div {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }

    #author-select-container {
        padding-bottom: 10px;
    }

    label {
        flex: 3;
    }

    select {
        width: 185px;
    }
}

/* Filter By Completion */
#filter-by-completions-container {
    p {
        text-align: center;
        padding-bottom: 5px;
    }
}

#filter-by-completions {
    display: flex;
    gap: 5px;

    * {
        width: 100%;
    }

    input {
        width: 50%;
    }
}


/* Sort By */
#sort-select-container {
    display: flex;
    gap: 10px;
    border: none;
}


/* Map Count */
#map-count {
    margin-top: 10px;
    text-align: center;
    font-size: 5rem;
    color: #7289da;
    border-radius: 2px;
    border: 1px solid #7289da;
    background-color: #36393e6b;
}