#filters-container {
    min-width: 250px;
    width: 10%;
    position: sticky;
    top: 10px;
    padding-left: 1%;
    padding-right: 1%;
    height: calc(100vh - 20px);
    background-color: #1e2124;
    color: white;
    border-radius: 5px;
    user-select: none;
    font-weight: bold;

    h3 {
        padding-bottom: 5px;
        text-align: center;
    }
}

#bonus-p {
    text-align: center;
}

#filter-by>* {
    border-bottom: 1px solid #7289da50;
    padding-top: 10px;
    padding-bottom: 10px;
}

.range-slider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.slider-container {
    display: grid;
    width: 100%;
    align-items: center;

    * {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
}

.slider-full {
    position: relative;
    height: 5px;
    border-radius: 5px;
    background: #36393e;
}

.slider-progress {
    left: 0%;
    right: 0%;
    position: absolute;
    height: 5px;
    border-radius: 5px;
    background: #7289da;
}

input.r1, input.r2 {
    position: relative;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;

    border-radius: 25%;
    background: #7289da;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;

    border-radius: 25%;
    background: #7289da;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

button {
    border-radius: 3px;
}

.toggle-slider {
    width: 20px;
    height: 20px;
}

#map-type-toggle, #map-intended-toggle {
    display: flex;
    gap: 5px;

    * {
        flex: 1;
    }

    p {
        padding-right: 10px;
    }
}

#map-type-toggle {
    border: none;
    padding-bottom: 0;
}

#filter-by-author {
    div {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }

    #author-select-container {
        padding-bottom: 10px;
    }

    * {
        flex: 3;
    }

    #author-select, #author-amount-select {
        flex: 6;
        width: 100%;
    }
}

#filter-by-completions-container {
    p {
        text-align: center;
        padding-bottom: 5px;
    }
}

#filter-by-completions {
    display: flex;
    gap: 5px;

    * {
        width: 100%;
    }

    input {
        width: 50%;
    }
}

#sort-select-container {
    display: flex;
    gap: 10px;
    border: none;
}

#map-count {
    margin-top: 10px;
    text-align: center;
    font-size: 5rem;
    color: #7289da;
    border-radius: 2px;
    border: 1px solid #7289da;
    background-color: #36393e6b;
}