h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    text-align: center;
    border-radius: 10%;
    margin-bottom: 15px;
}

#filters-container {
    position: sticky;
    top: 0;
    border-radius: 5px;
    background-color: rgb(201, 201, 201);
    padding: 10px;
    height: calc(100vh - 40px);
    border: 1px solid grey;
}

.range-slider {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 4px;
}

.toggle-slider {
    width: 15px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid grey !important;
}

.range-input {
    position: relative;
    background-color: #757575;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}

.range-input input {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #476291;
    pointer-events: auto;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
}

.min-range, .max-range {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map-type-toggle, #map-intended-toggle {
    display: flex;
    align-items: center;
    gap: 1px;
    margin: 10px 4px 10px 4px;
}

#map-type-toggle>*, #map-intended-toggle>* {
    border: 1px solid grey;
    flex-grow: 1;
    flex: 1;
}

#filter-by-author {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 4px;
}

#filter-by-author>select {
    margin-bottom: 10px;
}

#filter-by-completions {}

#minmax {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

input[type="number"] {
    margin-right: 5px;
    width: 60px;
}

#map-count {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}