#search-container {
    width: 100%;
    height: 35px;
}

#search-input {
    border: 0;
    border-radius: 5px;
    text-indent: 8px;
    background: #282b30;
    color: beige;
    width: 100%;
    height: 100%;
}

#clear-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10%;
    transform: translateY(100%);
    cursor: pointer;
    color: rgba(245, 245, 220, 0.521);
    font-size: 14px;
    display: none;
}

#search-results {
    list-style-type: none;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
    position: relative;
    background: #282b30;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#search-results li {
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 10px 15px;
}

#search-results li:hover {
    background-color: #7289da;
}

#search-results::-webkit-scrollbar {
    width: 8px;
}

#search-results::-webkit-scrollbar-thumb {
    background-color: #7289da;
    border-radius: 5px;
}

#search-results::-webkit-scrollbar-thumb:hover {
    background-color: #7289da8a;
}