#search-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 5px;
}

#search-input {
    display:block;
    width: 15%;
}

#search-results {
    position: absolute;
    list-style-type: none;
    background-color: whitesmoke;
    padding: 0;
    top: 20px;
    left: 0;
    width: 15%;
    z-index: 9999;
}

#search-results li {
    left: 50px;
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
}