* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-container {
    background-color: #282b30;
    display: flex;
    gap: 2%;
    padding: 10px;
    padding-right: 2%;
}

.hidden {
    display: none;
}

.button-on {
    background-color: #7289da;
    cursor: pointer;
    border: none;
}

.button-off {
    background-color: #424549;
    border: none;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px black;
}