* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-container {
    background-color: #282b30;
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-right: 10px;
}

header {
    position: relative;
    background: #282b30;
    width: 100%;
}

#logo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #1e2124;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    height: 200px;
    user-select: none;
    z-index: 1;
}

#logo-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../src/data/ico/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#tf-logo {
    z-index: 1;
    opacity: .6;
    animation: spin 15s linear infinite;
    position: absolute;
    width: 150%;
    height: auto;
}

#golly {
    z-index: 2;
    position: relative;
    top: 2px;
    left: 7px;
    width: 120px;
    height: auto;
}

.logo-text {
    color: whitesmoke;
    font-size: clamp(4px, 100pt, 10vw);
    max-width: fit-content;
    white-space: nowrap;
    font-weight: bold;
}

#tempus {
    transform: translateX(-25px);
}

#tracker {
    position: relative;
    transform: translateX(25px);
}

#by-amuria {
    position: absolute;
    top: 125px;
    left: 30px;
    color: #CF7336;
    font-size: 28pt;
    font-style: italic;
}

#header-menu {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background: #1e2124;
    width: calc(100% - 20px);
    margin: 5px 10px 0px 10px;
    border-radius: 5px;
    height: 40px;
}

.header-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    font-size: 14pt;
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#discord-container {
    margin-right: 10px;
    height: 38px;
    width: 280px;
    justify-content: center;
    color: white;
    border: 1px outset #7289da;
}

#discord-icon {
    width: 30px;
    height: auto;
    padding-left: 5px;
}

.header-option:hover {
    background-color: #42454950;
}

.hidden {
    display: none;
}

.button-on, .button-off {
    background-color: #7289da;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.button-on:hover {
    background-color: #7289da77;
}

.button-off {
    background-color: #424549;
    box-shadow: inset 1px 1px 2px black;
}

.flash-red {
    background-color: red !important;
    transition: background-color 0.3s;
}